@use './variables' as *;
.chatContainer {
  background-color: $white;
  flex-grow: 1;

  padding: 2.4rem;
  overflow-y: scroll;
}

// CHAT MESSAGE LAYOUT
.chatItemSending,
.chatItemReceiving {
  padding: 2.4rem 0;
  display: flex;
  justify-content: flex-end;
}

.chatItemReceiving {
  justify-content: flex-start;
}

// CHAT BUBBLE STYLES

// GENERAL STYLE
.chatMsgSending,
.chatMsgReceiving {
  width: fit-content;
  min-width: 10rem;
  padding: 1.4rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-top-color: $inputBG;
    border-bottom: 0;
    bottom: -8px;
  }
}

// TIMESTAMP STYLES
.timeStamp {
  font-size: $ftTimeStamp;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.1rem;
  svg {
    width: 1rem;
  }
}
// SIDE SPECIFIC STYLES
// SENDING
.chatMsgSending {
  background-color: $inputBG;
  border-radius: $roundRadius;

  &::after {
    border-right: 0;
    right: 20px;
  }
  .timeStamp {
    color: $timeStamp;
    svg {
      fill: $timeStamp;
    }
  }
}

// RECEIVING
.chatMsgReceiving {
  background-color: $mainPurple;
  border-radius: $roundRadius;
  color: $white;

  &::after {
    border-left: 0;
    border-top-color: $mainPurple;
    left: 20px;
  }

  .timeStamp {
    justify-content: flex-end;
    color: $timeStampAlt;
    svg {
      fill: $timeStampAlt;
    }
  }
}
