// colors
$msgBubbleBG: #f5f7fb;
$chatScreenBorder: #f0eff5;
$inputBG: #e6ebf5;
$sidebarMenuIcon: #878a92;

$mainPurple: #7269ef;
$mainPurpleHover: #544bce;
$timeStamp: #7a7f9a;
$msgTextColor: #343a40;

$authBackground: #f7f7ff;
$notificationText: #ef476f2e;
$notificationBG: #ef476f;

$white: #fff;
// font-size
$ftHeading: 2.4rem; //24px
$ftBody: 1.7rem; // 17px
$ftMessageName: 1.4rem; // 14px

//

$roundRadius: 7px;

$transitionTime: 0.3s;
